
<div class="container" style="float: inline-start; background-color: green">


<div class="row">
<form class="create-form" method="POST"  style="margin: auto">  
    <div class="form-group">
        <h1>Burgers</h1>
            <h2>Add a burger</h2>
        <label for="burger">Type of burger:</label>
        <input type="text" id="burger-input" name="burger">
        <button type="submit">Add burger</button>
    </div>

    
</form>
</div>


<div class="row">
<div class="col-6">


<h2>Burgers </h2>

<ul class="left-side" >

  {{#each burgers }}

    {{#unless devoured}}
    <div class="row" style="padding: 10px;">
    <div class="col">
                <li>{{burger_name}} <button name={{id}} type="button"
                        class="devour btn btn-warning">Devour</button> </li>
</div>
    </div>

        
    {{/unless}}
    {{/each}}
    
</ul>
</div>
<div class="col-6">


<ul class="right-side" style="float: right">
<h2>Devoured </h2>

    {{#each burgers }}

        {{#if devoured}}

            <li>{{burger_name}}</li>
           
        {{/if}}

    {{/each}}

</ul>
</div>
</div>

</div>

<script>
    $(".devour").on("click", function() {
        console.log("you got clicked", $(this).attr('name'))
        $.ajax({
            url: "/api/burgers/" + $(this).attr('name') ,
            type: "PUT",


        }).then(function(data){
            window.location.reload()
        })


    })
</script>